* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  background-color: #1e293b;
  font-family: 'DynaPuff', cursive;

  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #3730a3;
  border: 0;
  color: #ffff;

  width: 8rem;
  font-family: 'DynaPuff', cursive;
  cursor: pointer;
}

button:hover {
  background-color: #4f46e5;
}

input[type='text'] {
  width: 15rem;
  height: 3rem;
  padding: 1rem;
  font-family: 'DynaPuff', cursive;
  font-size: 1.5rem;
  color: #4f46e5;
  border: 0;
  border-radius: 8px;
  background-color: #ccc;
}

input[type='text']:focus {
  outline: 0;
  box-shadow: 0 0 1rem #a3e635;
}

section {
  width: 100vw;
  padding: 2rem 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auton;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.card-container {
  width: 20rem;
  height: 42rem;
  padding: 0.5rem;
  background-color: #cbd5e1;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-container {
  width: 20rem;
  height: 40rem;
  padding: 0.5rem;
  background-color: #cbd5e1;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

img {
  border: 2px solid #0f172a;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  color: #93c5fd;
  cursor: pointer;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
  color: #0c4a6e;
  margin-bottom: 1rem;
}

p {
  font-size: 1.3rem;
}

.gender-wrapper,
.status-wrapper,
.local-wrapper,
.displayed-wrapper,
.button-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.material-icons.green600 {
  color: #16a34a;
}

.material-icons.red600 {
  color: #dc2626;
}

.material-icons.blue500 {
  color: #3b82f6;
}

.material-icons.pink700 {
  color: #a21caf;
}

.material-icons.blue700 {
  color: #1d4ed8;
}

.material-icons.yellow600 {
  color: #ca8a04;
}
